@import "./../../../../styles.scss";

// $background //
// $background--primary: #fff;
// $background--secondary: #034c8c;

// $ width //
$width--xs: 70%;
$width--sm: 60%;
$width--lg: 40%;

// $ height //
$height--g: auto;
$height--primary: 100vh;

// $Font //

$fontAwesome: "Helvetica", FontAwesome, sans-serif;

$display--flex: flex;
$align-items: center;
$justify-content: center;


.encabezado{
   /*  not needed styles to reflect it */ 
  //  background: blue;
   padding: 10px;
  //  color: white;
   width: 100%;
 
   /* needed styles below */
   display: flex;
   justify-content: center;
}
.mat-card-title{

text-align: center;
}
.mat-card-subtitle{
  display: flex;
  text-align: left;
}

.mat-card-header-text{
  width: 100%;
}
// fontAwesome -- Iconos en placeholder //@include
.fontAwesome {
  @include xs {
    font-family: $fontAwesome;
  }
  @include md {
    font-family: $fontAwesome;
  }
  @include sm {
    font-family: $fontAwesome;
  }
  @include lg {
    font-family: $fontAwesome;
  }
  @include xl {
    font-family: $fontAwesome;
  }
}

// Dipositivos Xs
@include xs {
  mat-card {
    // background: $background--secondary;
    width: $width--xs;
    height: $height--g;
    border-radius: 12px;
  }

  .contenedor {
    // background: $background--primary;
    height: $height--primary;
    align-items: $align-items;
    display: $display--flex;
    justify-content: $justify-content;
  }
}

@include sm {
  mat-card {
    // background: $background--secondary;
    width: $width--sm;
    height: $height--g;
    border-radius: 12px;
  }
  .contenedor {
    // background: $background--primary;
    height: $height--primary;
    align-items: $align-items;
    display: $display--flex;
    justify-content: $justify-content;
  }
}

@include md {
  mat-card {
    // background: $background--secondary;
    width: $width--lg;
    // height: 60%;
    border-radius: 12px;
  }
  .contenedor {
    // background: $background--primary;
    height: $height--primary;
    align-items: $align-items;
    display: $display--flex;
    justify-content: $justify-content;
  }
}

@include lg {
  mat-card {
    // background: $background--secondary;
    width: $width--lg;
    height: $height--g;
    border-radius: 12px;
  }
  .contenedor {
    // background: $background--primary;
    height: $height--primary;
    display: $display--flex;
    align-items: $align-items;
    justify-content: $justify-content;
  }
}


@include xl {

  mat-card {
    // background: $background--secondary;
    width: $width--lg;
    height: auto;
    border-radius: 12px;
  }
  .contenedor {
    // background: $background--primary;
    height: $height--primary;
    display: $display--flex;
    align-items: $align-items;
    justify-content: $justify-content;
  }
}

  mat-form-field {
    display: block;
  }

  h4::after {
    content: "";
    display: block;

    height: 1px;
    background-color: white;
    transform: cale(0, 1);
    transition: width 0.4;
    width: 90%;
  }
 
  .mat-card-actions {
    text-align: center;
  }
  .contenedor{
    background-image: url(https://images.unsplash.com/photo-1552306062-29a5560e1c31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.links{
  text-decoration: underline;
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

.links:hover{
  cursor: pointer;
}

button{
  font-size: 14px;
  font-family: Helvetica; 
}



button.btn-google:hover{
  cursor: pointer;
}

button.btn-google{
  width: 100%; 
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

img.google-icon{
  width: 1.5rem; 
  height: 1.5rem;
}

button.sign-in{
  width: 100%; 
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}