<div class="contenedor">
  <mat-card class="example-card">
    <mat-card-header class="encabezado">
      <mat-card-title>LasDosRuedas.com</mat-card-title>
      <!-- <mat-card-subtitle>Queremos hacer diferencia</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form [formGroup]="frmSesion" (ngSubmit)="iniciarSesionFireAuth()">
          <mat-form-field appearance="outline">
            <mat-label>
              Usuario
              <mat-icon>alternate_email</mat-icon>
            </mat-label>
            <input matInput type="text" placeholder="  Usuario" formControlName="user" 
              class="form-control" maxlength="30">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>Email registrado en la aplicación</mat-hint>
            <mat-error *ngIf="frmSesion.get('user').errors?.required" class="invalid-tooltip">
                Campo obligatorio
            </mat-error>
            <mat-error *ngIf="frmSesion.get('user').errors?.minlength" class="invalid-tooltip">
                Minimo 6 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password <mat-icon>lock</mat-icon>
            </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
                class="form-control" maxlength="50">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-hint>Contraseña para registrar sesión</mat-hint>
            <mat-error *ngIf="frmSesion.get('password').errors?.required" class="invalid-tooltip">
              Campo obligatorio
            </mat-error>
            <mat-error *ngIf="frmSesion.get('password').errors?.minlength" class="invalid-tooltip">
                Minimo 6 caracteres
            </mat-error>
          </mat-form-field>
          <div  class="center-xs center-sm center-md center-lg ">
            <label class="links" for="" (click)="PasswordResetModal()"  >
              ¿Olvidaste tu contraseña?
            </label>
          </div>
          <div>
            <button class="sign-in" type="submit" mat-raised-button color="primary" [disabled]="!frmSesion.valid"
                *ngIf="!cargando">
                <span> Iniciar sesion </span>
            </button>
            <button type="button" mat-flat-button color="warn" [disabled]="false" *ngIf="cargando">
              <i class="fa fa-spin fa-sync"></i>
              Espere ...
            </button>
            <p *ngIf="messageErr != ''" style="color:red">
              <mat-icon>error_outline</mat-icon>
              <br>
              <span> {{ this.messageErr}} </span>
            </p>
          </div>
          <mat-divider></mat-divider>
          <div >
            <button class="btn-google" type="submit" mat-raised-button (click)="signInGoogle()">
              <img class="google-icon" src="../../../../assets/svg/google_icon.png" alt="">
              <span> Ingresa con Google </span>
            </button>
          </div>
          <div class="center-xs center-sm center-md center-lg">
            ¿Es la primer vez que vas a ingresar?
            <label class="links" for="" (click)="registrarUsuario()">
              Regístrate
            </label>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>