
<footer class="footer-container">
    <div class="row middle-xs middle-md middle-lg center-xs center-sm center-md center-lg">
    <div class="col-lg-4 middle-xs middle-md middle-lg center-xs center-sm center-md center-lg">
        <img src="../../../../assets/svg/LasDosRuedasNegro.png" alt="">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="row">
            <mat-icon>navigate_next</mat-icon>
            <a class="landing-link">Preguntas frecuentes</a>
        </div>
        <div class="row">
            <mat-icon>navigate_next</mat-icon>
            <a class="landing-link">¿Quienes somos?</a>
        </div>
        <div class="row">
            <mat-icon>navigate_next</mat-icon>
            <a class="landing-link">¿Donde estamos?</a>
        </div>
        <div class="row">
            <mat-icon>navigate_next</mat-icon>
            <a class="landing-link">Contactanos</a>
        </div>
        <div class="row">
            <mat-icon>navigate_next</mat-icon>
            <a class="landing-link">Blog</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row center-xs center-sm center-md center-lg">
            <button (click)="goToFacebook()" class="facebook" mat-fab>
                <i class="fab fa-facebook-f social-button"></i>
            </button>
            <button (click)="goToInstagram()" class="instagram" mat-fab>
                <i class="fab fa-instagram social-button"></i>
            </button>     
            <button (click)="goToLinkedin()" class="linkedin" mat-fab >
                <i class="fab fa-linkedin-in social-button"></i>
            </button>     
            <button (click)="goToWhatsapp()" class="whatsapp" mat-fab>
                <i class="fab fa-whatsapp social-button"></i>
            </button>             
        </div>
    </div>
    </div>
</footer> 

