::ng-deep .custom-modalbox{
    .mat-dialog-container {
        background: none ;
    }
    
}


::ng-deep .custom-modalbox {
    .mat-dialog-container {
        box-shadow: none  ;
        background: none  ;
        color: none ; 
    }
}

::ng-deep .custom-modalbox {
    .mat-dialog-container {
        padding: none ; 
        border-radius: none ; 
        display: block ; 
        box-sizing:none ; 
        overflow: none ; 
        outline: none ; 
        width: none ; 
        height: none ; 
        min-height: none ; 
        max-height: none  ; 
    }

}