<div class="mat-elevation-z8 tableContainer">
    <div >
        <mat-form-field>
            <mat-label>search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search item" #input>
        </mat-form-field>
    </div>

    <table mat-table class=" " [dataSource]="dataSource" matSort>
        <!-- actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openCreate()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let row" class="actions" >
                <!-- update -->
                <button mat-icon-button [routerLink]="['/Admin/Update', row.id]" color="accent" >
                    <mat-icon fontSet="fas" class="tamaño-iconos" color="primary" fontIcon="fa-edit"></mat-icon>
                </button>
                <!-- Delete-->
                <button mat-icon-button color="accent" (click)="openModalDelete(row)">
                    <mat-icon fontSet="fas" class="tamaño-iconos" fontIcon="fa-trash-alt" color="warn"></mat-icon>
                </button>
            </td>
        </ng-container>


      
        <!-- id -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row; index as i" style="width:2%">{{ i+1}}</td>
        </ng-container>
       
        <!-- plate -->
        <ng-container  matColumnDef="registrationNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
            <td mat-cell *matCellDef="let row" class ="">{{ row.registrationNumber }}</td>
        </ng-container>
        <!-- Model -->
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
            <td mat-cell *matCellDef="let row">{{ row.model }}</td>
        </ng-container>
        <!-- Mark -->
        <ng-container matColumnDef="mark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
            <td mat-cell *matCellDef="let row">{{ row.mark }}</td>
        </ng-container>
        <!-- year -->
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
            <td mat-cell *matCellDef="let row">{{ row.year }}</td>
        </ng-container>

        <!-- state -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.state }}</td>
        </ng-container>
        <!-- ownerName -->
        <ng-container matColumnDef="ownerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Propietario</th>
            <td mat-cell *matCellDef="let row">{{ row.ownerName }}</td>
        </ng-container>
        <!-- ownerPhone -->
        <ng-container matColumnDef="ownerPhone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
            <td mat-cell *matCellDef="let row">{{ row.ownerPhone }}</td>
        </ng-container>
         <!-- ownerPhone -->
         <ng-container matColumnDef="ownerEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
            <td mat-cell *matCellDef="let row">{{ row.ownerEmail }}</td>
        </ng-container>
      



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row displayed when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
                Row displayed when there is no matching data."{{ input.value }}"
            </td>
        </tr>
    </table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 250]"
        showFirstLastButtons>
    </mat-paginator>
</div>

