mat-form-field{
    width: 100%;
}

@media (min-width: 810px) {
    .pop-up{
        width: 600px;
    }
}

@media (min-width: 685px) and (max-width: 809px){
    .pop-up{
        width: 500px;
    }
}

@media (min-width: 415px) and (max-width: 684px){
    .pop-up{
        width: 300px;
    }
}